---
import Layout from '../../layouts/base.astro'
import { getCollection } from 'astro:content'
import { lang } from '../../lib/data'

const posts = (await getCollection('blog'))
    .slice()
    .sort(
        (a, b) =>
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
    )
---

<Layout
    title='Posts'
    description="Here's all of my blog posts. Please read them."
>
    {
        posts.map((post) => (
            <div class='mt-5 border-b border-stone-300 pb-5'>
                <h2 class='text-xl font-bold'>{post.data.title}</h2>
                <p class='mt-2 text-stone-700'>{post.data.description}</p>
                <div class='mt-4 flex items-center align-middle text-sm text-stone-500'>
                    <p class='inline-block'>
                        {post.data.date.toLocaleDateString('en-US')}
                    </p>
                    <p class='mx-1'>･</p>
                    <p class='inline-block'>{lang(post.data.lang)}</p>
                    <p class='mx-1'>･</p>
                    <a class='block' href={`/authors/${post.data.author}`}>
                        <img
                            src={`/icons/${post.data.author}.webp`}
                            class='w-8 rounded-full'
                        />
                    </a>
                </div>
                <a
                    class='mt-4 block text-blue-500 hover:underline'
                    href={`/blog/${post.slug}`}
                >
                    Read more
                </a>
            </div>
        ))
    }
</Layout>
